PORT=3000

# To use Google Auth, you must go to https://console.cloud.google.com/
# Create a project, enable the "Google+ API" or "Google OAuth2 API",
# and generate credentials. 
# Set the Authorized redirect URI to: http://localhost:3000/auth/google/callback

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
